body {
  min-width: 1200px;
}

.navbar {
  z-index: 2;
}

.fakebar {
  height: 100px;
}

.banner {
  position: relative;
}

.banner>img {
  opacity: 0;
}

.banner .fix-bg {
  position: fixed;
  top: 100px;
  z-index: 2;
  width: 100%;
}

.banner .fix-bg img {
  border-radius: 0;
}

.main {
  background-color: #fff;
  position: relative;
  z-index: 4;
}

.section1 {
  padding: 50px 0;
}

.st1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st1 {
  position: relative;
}

.st1-left {
  width: 50%;
  display: inline-block;
}

.st1-right {
  width: 50%;
  text-align: center;
  position: relative;
  display: inline-block;
  text-shadow: 5px 2px 15px greenyellow;
}

.section2 {
  padding: 40px;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  filter: blur(5px);
}

.section2 .swiper-slide {
  padding: 5px;
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.section2 .swiper-slide img {
  width: 70%;
}

.st2-content {
  margin-bottom: 30px;
  line-height: 50px;
  text-shadow: 5px 2px 15px #333;
}

.section2 .swiper-button-prev,
.section2 .swiper-button-next {
  outline: none;
}

.item-bg {
  position: absolute;
  background: #fff;
  border-radius: 10px;
  opacity: 0;
  transition: all .3s;
  width: 100%;
  height: 97%;
}

.section2 .swiper-slide:hover .item-bg {
  opacity: 1;
  z-index: -1;
}

.section2 .swiper-slide:hover .news-item {
  color: #333;
}

.section3 {
  padding-top: 50px;
}

.st3-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border: 1px solid #e1e1e1;
  transition: border-color .45s .05s;
}

.st3-img {
  width: 40%;
  display: inline-block;
  overflow: hidden;
}

.st3-img img {
  border-radius: 0;
  transition: .75s .05s;
}

.st3-txt {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.st3-txt span {
  color: rgb(255, 172, 213);
}

.st3-list:hover {
  border-color: rgb(255, 172, 213);
}

.st3-list:hover .st3-img img {
  transform: scale(1.1);
}

.section3 .end {
  text-align: center;
  font-family: siyuan;
}

.ps {
  text-align: right;
  margin-top: 50px;
  font-size: 13px;
}

#gotop {
  height: 42px;
  width: 42px;
  background: url(../img/gotop.png) no-repeat center;
  background-color: #999;
  position: fixed;
  right: 20px;
  bottom: 40px;
  display: none;
  border-radius: 50%;
  z-index: 99;
  opacity: 0.7;
}